.trading{
    width: 50%;
    height: 500px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid black;
    background: white;
    position: relative;
}

/* .sub_header> span > a {
    padding: 2px;
    box-sizing: border-box;
    display: inline-block;
    width: 100px;
    height: 40px;
    border: 1px solid #ededed;
    text-align: center;
    color: black;
    border-bottom: 3px solid crimson;
    font-size: 19px;
} */

.sub_header{
    padding: 3px;
    box-sizing: border-box;
    display: inline-block;
    width: 100px;
    height: 40px;
    border: 1px solid #ededed;
    text-align: center;
    color: #222;
    font-size: 18px;
    float: left;
}

.sub_header:hover{
    cursor: pointer;
    border-bottom: 3px solid crimson;

}

/* 매수 */
.buy_contain{
    width: 100%;
    height: 400px;
    margin-top: 70px;
    padding: 4px;
}
.possible_asset{
    display: inline-block;
}

.buy_contain>li{
    display: flex;
    padding: 9px;
    margin-top: 10px; 
}

.buy_contain>li>a{
    line-height: 40px;
    height: 25px;
    font-size: 14px;
    width: 130px;
    color: gray;
    
}

.buy_contain>li>input{
    width: 280px;
    height: 35px;
    border: 2px solid #ededed;
}
.cf{
    margin-top: 20px;
    /* padding: 8px; */
    width: 420px;
    font-size: 8px;
    display: inline-block;
    text-align: right;
}

.buy_button{
    width: 250px;
    height: 34px;
    padding: 4px;
    box-sizing: border-box;
    background: crimson;
    border: none;
    color: white;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
}
.buy_button:hover{
    cursor: pointer;
    background: rgb(185, 17, 51);
}

.hi{
    color: turquoise;
}