.hoga{
    background: white;
    width: 50%;
    height: 500px;
    border: 1px solid black;
    display: inline-block;
    box-sizing: border-box;
}

.hoga>span>a{
    font-size: 24px;
    padding: 6px;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: 56px;
    border: 1px solid #ededed;
    text-align: center;
    color: #222;
    border-bottom: 3px solid crimson;
}

.table_small{
    /* border: 1px solid #ededed; */
    display: inline-block;
    box-sizing: border-box;
    width: 30%
}

.table_small>caption{
    font-size: small;
    border-bottom: 1px solid #ededed;
    padding: 4px;
    width: 100%;
    font-size: 10px;
}

.table_small>caption>span>a{
    color: black;
}

.table_small>thead>tr>td{
    font-size: 11px;
    /* background: violet; */
    text-align: center;
    color: #222;
    /* font-weight: 300; */
    width: 76px;
    border-bottom: 1px solid gray;
}

.table_small>tbody>tr>td{
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
    font-size: 10px;
    /* width: 100%; */
    text-align: center;
}

.table_main{
    float: right;
    display: flex;
    flex-direction: column;
    /* border: 1px solid #ededed; */
    box-sizing: border-box;
    width: 66%;
    text-align: center;
}
.table_main>tr>td{
    text-align: center;
    padding: 2px;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
}